name: 'test coverage'
run-name: 'Test Coverage'

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - 'example/**'
  pull_request:
    branches:
      - main
      - dev
    paths-ignore:
      - '**.md'
      - 'example/**'

jobs:
  code-analysis:
    name: "Code Analysis :: Flutter (latest)"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - name: Prepare dependencies
        run: |
          flutter --version
          flutter pub get
      - name: Check Dart code formatting
        run: |
          dart format . -o none --set-exit-if-changed
      - name: Analyze Dart code
        run: |
          flutter analyze .
      - name: Generate dartdoc
        run: |
          dart pub global activate dartdoc
          dart pub global run dartdoc .

  test:
    needs: [code-analysis]
    name: "Test :: Flutter (${{ matrix.flutter-version == '' && 'latest' || matrix.flutter-version }})"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        flutter-version: ['3.19.0', '']
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: ${{ matrix.flutter-version }}
      - name: Prepare dependencies
        run: |
          flutter --version
          flutter pub get
      - name: Test
        run: flutter test

  upload-test-coverage:
    needs: [test]
    if: |
      github.event_name == 'push'
      && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - name: Prepare dependencies
        run: |
          flutter --version
          flutter pub get
      - name: Test Coverage
        run: flutter test --coverage
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
